@font-face {
    font-family: 'Avenir';
    src: url('fontes/Avenir Medium.ttf');
}

@font-face {
    font-family: 'Avenir light';
    src: url('fontes/Avenir Light.ttf');
}

@font-face {
    font-family: 'Avenir black';
    src: url('fontes/Avenir Black.ttf');
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('fontes/Avenir Heavy.ttf');
}

@font-face {
    font-family: 'DS-DIGIT';
    src: url('fontes/DS-DIGIT.ttf');
}

body {
    color: #55565b;
    font-size: 15pt;
    line-height: 18pt;
    font-family: 'Avenir light';
    font-weight: 300;
}

.titulo-topo {

     background-image: url('../imagens/banner.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
}

.borda_texto{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #016938;
    font-size: 3em; color: #fff;
    }

.container {
    width: 600px;
    margin: 0 auto;
}

h1,
p,
h2,
h3,
figure {
    margin: 0;
    padding: 0;
}

.s10, .s500, .preco1, .preco2{
    font-family: 'DS-DIGIT';
    color: #fff;
    position: absolute;
    font-size: 60pt;
    line-height: 60pt;
}

.s10{
    top: 677px;
    left: 120px;
}

.preco1{
    top: 677px;
    left: 360px;
}

.s500{
    top: 820px;
    left: 90px;
}

.preco2{
    top: 820px;
    left: 360px;
}

.posto{
    position: absolute;
    top: 1000px;
    text-align: center;
    font-size: 30pt;
    color: #333333;
    width: 100%
}

.endereco{
    width: 100%;
    position: absolute;
    top: 1145px;
    text-align: center;
}
.endereco img{
    height: 50px;
    object-fit: contain;
}

ul {
    margin: 0;
    padding: 25px 0 0 25px;
}

li {
    margin-bottom: 15px;
}

h1 {
    color: #ffcc00 !important;
    text-transform: uppercase;
    font-size: 40pt;
    line-height: 41pt;
    font-family: 'Avenir Heavy';
}

h2 {
    color: #facd00;
    font-size: 23pt;
    line-height: 24pt;
    text-align: center;
    font-family: 'Avenir black';
    text-transform: uppercase;
}

.cinza {
    background-color: #ccc;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

b {
    font-family: 'Avenir black';
}

section {
    margin-top: 30px;
    padding: 0 50px 0 50px;
}

.subtexto p {
    color: #016938;
    font-size: 18pt;
    line-height: 20pt;
}

.bonus {
    border: 2px solid #016938;
    border-radius: 15px;
    padding: 30px;
    margin-top: 60px;
}

.bonus p {
    text-align: center;
}

.dicas {
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-size: 23pt;
    line-height: 24pt;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #55565b
}

.dicas .btn {
    padding: 15px;
    background-color: #facd00;
    border-radius: 50px;
    width: 200px;
    margin: 15px auto;
    color: #016938;
    border: 1px solid #facd00;
    transition: 0.5s;
}

.dicas p {
    color: #016938;
}

.btn:hover {
    background-color: #fff;
    color: #016938
}

.atendimento {
    background-color: #ddd;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px
}

footer {
    text-align: center;
    color: #016938;
    padding-bottom: 30px;
}

footer a {
    font-family: 'Avenir Heavy';
    color: #016938
}

footer i {
    font-size: 30pt;
    margin: 15px;
}

header {
    position: relative
}

.detalhe {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px
}

figure {
    text-align: left;
}

figure img {
    width: 160px;
    margin-bottom: 30px;
}

.boleto {
    position: absolute;
    right: 10px;
    bottom: -30px;
    width: 300px;
}

@media screen and (max-width: 1155px) {
    .boleto {
        width: 270px;
    }
}

@media screen and (max-width:1000px) {
    .container {
        width: 100%;
    }
    section {
        padding: 10px;
    }
    .titulo-topo {
        background: #016938;
        padding: 150px 10px 10px 10px;
    }
    h1 {
        font-size: 25pt;
        line-height: 26pt;
    }
    .subtexto {
        padding: 10px;
    }
    .boleto {
        bottom: -10px;
        width: 130px;
    }
    .detalhe {
        width: 300px
    }
}

@media screen and (max-width: 490px) {
    .boleto {
        display: none;
    }
}